<div class="dashboard-container d-flex">
    <div class="sbar-container">
      <%= link_to  overview_path, data: {turbo_frame: "main_content"} do %>
        <h3 class="ms-5 mb-5 mt-4"> 
        <span class="dashboard-icon"> <%= image_tag "pie-chart" %></span>
        Overview 
        </h3>
      <% end %>
      <h3 class="ms-5"> 
      <span class="dashboard-icon"> <%= image_tag "pulse" %></span>
      Pulses
       </h3>
        <div class="pulses-list">
          <% @pulses.each do |pulse| %>
              <%= link_to pulse.job_role, pulse_path(pulse), data: {turbo_frame: "main_content"}, class:"btn-purple-gradient" %>
          <% end %>
        </div>

    </div>

    <div class="main-content">
      <%= turbo_frame_tag "main_content" do %>
        <%= render "overview", category_averages: @category_averages%>
      <% end %>
    </div>


</div>
