
<div class="container mt-3">
  <div class="new-pulse-container">

    <div class="form-background">
        <h1 class="gradient-text mb-4">New Pulse</h1>
        <%# <p> Prepare to ace your interview!</p> %>

        <%# <br> %>
        <%# <p> Fill in the details below to generate tailored questions based on the job and select categories to focus on key skills.</p> %>

      <%= simple_form_for(@pulse) do |f| %>
        <%= f.input :job_role, placeholder: "(What is the position you are applying for?)" %>
        <%= f.input :company_name, placeholder: "(Enter the name of the company you're preparing for.)" %>
        <%= f.input :company_description, placeholder: "(Give a brief description of the company or its industry.)" %>
        <div class="association">
          <%= f.association :categories, collection: Category.all, as: :check_boxes %>
        </div>
          <%# <%= f.hidden_field :category_ids, value: "", id: "category_ids" %> 
          <div class="create-pulse-button">
            <%= f.submit value: "Create Pulse", class: "btn-black" %>
          </div>
      <% end %>
    </div>


  </div>
</div>
