
<div class="container mt-3">
  <div class="new-pulse-container">

    <div class="form-background">
        <h1 class="gradient-text mb-4">New Pulse</h1>
      <%= simple_form_for(@pulse) do |f| %>
        <%= f.input :job_role %>
        <%= f.input :company_name%>
        <%= f.input :company_description %>
     <%= f.association :categories, collection: Category.all, as: :check_boxes %>
          <%# <%= f.hidden_field :category_ids, value: "", id: "category_ids" %> 
          <div class="create-pulse-button">
            <%= f.submit value: "Create Pulse", class: "btn-black" %>
          </div>
      <% end %>
    </div>


  </div>

</div>
