<%= turbo_frame_tag "main_content" do %>
  <div class="card-purple">
    <h1><%= @pulse.job_role.capitalize %> Pulse</h1>
    <p><%= @pulse.job_description %></p>
    <p>Company: <%= @pulse.company_name %></p>
    <p>Company Description: <%= @pulse.company_description %></p>
    <%# <%= link_to edit_pulse_path(@pulse) do %>
      <%# <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
  </div>
  <div class="d-flex justify-content-between m-5">
    <%= link_to "Practice", pulse_question_path(@pulse, @pulse.questions.first), data: {turbo: false}, class:"btn-black" %>

  </div>





<%= render "results", pulse: @pulse %>
</div>
<% end %>
