<%= turbo_frame_tag "main_content" do %>
<div class="text-center">
  <h1 class="mt-4 mb-5">Your Pulse</h1>
  <%= @pulse.job_role %>
  <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_pulse_path(@pulse) %>
  <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe,
    pulse_path(@pulse),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
</div>

<h1><%= @pulse.job_role %></h1>
<p><%= @pulse.job_description %></p>
<p>Company: <%= @pulse.company_name %></p>
<p>Company Description: <%= @pulse.company_description %></p>

<hr>
<%= link_to "PRACTICE", pulse_question_path(@pulse, @pulse.questions.first), data: {turbo: false} %>

<h2>Progress Report by Category</h2>
<table class="table table-bordered">
  <thead>
    <tr>

      <th>Average Evaluation</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <!--<td><%#= @answers.select { |a| a.question.pulse_category.category_id == category.id }.count %></td>-->
        <td>some info about answers</td>
        <!--<td><%#= number_with_precision(@category_evaluations[category.id], precision: 2) %> / 10</td>-->
        <td>evaluation of your responses</td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>Explore Interview Questions by Category</h3>
<% @pulse.pulse_categories.each do |category|%>
<%= link_to category.category.name, pulse_pulse_category_path(@pulse, category), data: {turbo_frame: "category_content"} %>
<% end %>
<%= turbo_frame_tag "category_content" do %>
<% end %>




</div>
<% end %>
